/* app css stylesheet */
body{
  font-family: 'Shrikhand', cursive;
}
.team{
  display: inline-block;
  margin: 10px;
}
button:focus {
  outline:0;
}
#play, #stop, #replay{
  margin-top: 40px;
  border: none;
  border-radius: 200px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor:pointer;
}

#play{
  background-color: green;
}
#stop{
  background-color: #f44336;
}
