/* General css */
body{
  font-family: 'Shrikhand', cursive;
}
.team{
  display: inline-block;
  margin: 10px;
}
.footer{
  background-color: #343a40;
  color: white;
}
hr {
  border-top: 2px solid rgba(0,0,0,.1);
}
button:focus {
  outline:0;
}
#nextPage{
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
}
#play, #stop, #replay{
  margin-top: 40px;
  border: none;
  border-radius: 200px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor:pointer;
}

#play{
  background-color: green;
}
#stop{
  background-color: #f44336;
}
#replay{
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  transition: background-color 2s;
}
#replay:hover{
  background-color: red;
}

/*Groups view*/
.card{
  text-align: center;
  max-width: 300px;
  margin:auto;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
}

ul:not(.matchlist) li:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background-size: 10px;
  background-image: url("https://cdn4.iconfinder.com/data/icons/soccer-american-football/100/f-01-512.png");
  background-repeat: no-repeat;
  margin-right: 5px;
}
.matchlist > li{
  margin-bottom: 10px;
}
.second-in-semi:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  border-bottom: 2px dotted grey;
}

/*Finals view*/
.team-in-column{
  min-width: 100%;
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.win{
  background-color: green;
}

.firstpair{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.secondpair{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.finals > div > final-pairs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
}
/*Animations*/
@keyframes fadein {
  0% { opacity: 0; transform: translateY(10%);}
  100%  { opacity: 1;transform: translateY(0);}
}
.fadein{
  animation: fadein 1s;
}