<div class="row fadein">
    <div class="col-sm-2">
        <button id="stop" ng-show="toggleButton" ng-click="stopInterval()">Stop</button>
        <button id="play" ng-show="!toggleButton" ng-click="restartInterval()">Play</button>
    </div>
    <div class="col-sm-8 text-center">
        <h1>Final Countdown</h1>
        <div class="team" ng-repeat="team in teams"><img ng-src="img/{{team.img}}" width="16" height="12"/> {{team.name}}</div>
    </div>
    <div class="col-sm-2">
        <p>Your bet was: {{bet}}</p>
        <p ng-if="!isStillHope">Loser...</p>
    </div>
</div>
<final-pairs></final-pairs>
<div class="row finals">
    <div class="col-sm-2" ng-show="showTeams">
        <final-pairs teams="rounds.first" index-limit="8" greater="true"></final-pairs>
    </div>
    <div class="col-sm-2">
        <final-pairs teams="rounds.second" index-limit="4" greater="true"></final-pairs>
    </div>
    <div class="col-sm-2">
        <final-pairs teams="rounds.third" index-limit="2" greater="true"></final-pairs>
    </div>
    <div class="col-sm-2">
        <final-pairs teams="rounds.third" index-limit="2" greater="false"></final-pairs>
    </div>
    <div class="col-sm-2">
        <final-pairs teams="rounds.second" index-limit="4" greater="false"></final-pairs>
    </div>
    <div class="col-sm-2" ng-show="showTeams">
        <final-pairs teams="rounds.first" index-limit="8"  greater="false"></final-pairs>
    </div>
  </div>